@mixin flex {
    display: grid;
    align-items: center;
    justify-content: center;
}

@mixin  line {
    border: none;
    outline: none;
}

$bg-color: #121212;
$bg-text: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

.centercal {
    height: 100vh;
    @include flex();
}

form {
    width: 360px;
    height: 573px;
    box-shadow: 0 0 10px 5px rgba(245, 122, 51, 0.76);
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #00000057);
}


#app_name {
    width: inherit;
    padding: 4px 0px 4px 10px;
    font-size: 0.8rem;
    background-color: $bg-color;
    color: $bg-text;
    @include line();
}

#display_ans{
    width: inherit;
    height: 100px;
    background-color: $bg-color;
    font-size: 2rem;
    color: $bg-text;
    @include line();
    text-align: right;
    padding: 0px 15px;
}

.layer1 {
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
}

.layer2 {
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
}

input, button{
    flex: 1;
    font-size: 1.5rem;
    background-color: $bg-color;
    color: $bg-text;      
    @include line();
    border: 1px solid #504f4f1a;

    &:active {
        background-color: #ff651dda;
    }
}

.operator {
    background-color: $bg-color;
    color: #FE7436;

    &:active {
        color: #000;
    }
}

.circle {
    border-radius: 50%;
    background-color: #FE7436;
    color: $bg-text;
}